/* WordPress.com Widgets */

/* Flickr */
#flickr_badge_wrapper {
	background: transparent !important;
	border: 0 !important;
}
#flickr_badge_uber_wrapper {
	margin: 0 auto;
}
#flickr_badge_uber_wrapper td {
	border: 0 !important;
}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {
	color: #08c1c3 !important;
}
.widget_recent_comments td {
	border: 0;
	padding: 5px 5px 10px 5px;
	vertical-align: top;
}
.widget_authors ul,
.widget_author_grid ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.widget_authors img {
	float: none;
	vertical-align: middle;
}
.widget_authors li {
	display: block;
	margin-bottom: 10px;
}
.widget_authors li:before,
.widget_authors li:after {
	content: "";
	display: table;
}
.widget_authors li:after {
	clear: both;
}
#wpstats {
	display: block;
	margin: 0 auto 1.5em;
}
