<div class='progress-msg'>Fri, 30 Oct 2020 01:23:14 +0000</div>
<div class='progress-msg'>[01:23:14] Composing titles...</div>
<div class='progress-msg'>[01:23:14] Composing excerpts...</div>
<div class='progress-msg'>[01:23:14] Composing duplicate indicators...</div>
<div class='progress-msg'>[01:23:14] Composing authors...</div>
<div class='progress-msg'>[01:23:14] Composing slugs...</div>
<div class='progress-msg'>[01:23:14] Composing menu order...</div>
<div class='progress-msg'>[01:23:14] Composing contents...</div>
<div class='progress-msg'>[01:23:14] Composing dates...</div>
<div class='progress-msg'>[01:23:14] Composing terms for `Рубрики` taxonomy...</div>
<div class='progress-msg'>[01:23:14] Composing terms for `Метки` taxonomy...</div>
<div class='progress-msg'>[01:23:14] Composing URLs for images...</div>
<div class='progress-msg'>[01:23:14] Composing URLs for attachments files...</div>
<div class='progress-msg'>[01:23:14] Composing unique keys...</div>
<div class='progress-msg'>[01:23:14] Processing posts...</div>
<div class='progress-msg'>[01:23:14] Data parsing via add-ons...</div>
<div class='progress-msg'>[01:23:14] ---</div>
<div class='progress-msg'>[01:23:14] Record #1</div>
<div class='progress-msg'>[01:23:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:23:14] Combine all data for post `linux_faq`...</div>
<div class='progress-msg'>[01:23:14] Find corresponding article among previously imported for post `linux_faq`...</div>
<div class='progress-msg'>[01:23:14] Duplicate post wasn't found with unique key `1356914737`...</div>
<div class='progress-msg'>[01:23:14] Applying filter `pmxi_article_data` for `linux_faq`</div>
<div class='progress-msg'>[01:23:14] <b>CREATING</b> `linux_faq` `Запись`</div>
<div class='progress-msg'>[01:23:14] Associate post `linux_faq` with current import ...</div>
<div class='progress-msg'>[01:23:14] Associate post `linux_faq` with post format standard ...</div>
<div class='progress-msg'>[01:23:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[01:23:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[01:23:14] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[01:23:14] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[01:23:14] <b>CREATED</b> `linux_faq` `Запись` (ID: 6)</div>
<div class='progress-msg'>[01:23:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[01:23:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[01:23:14] ---</div>
<div class='progress-msg'>[01:23:14] Record #2</div>
<div class='progress-msg'>[01:23:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:23:14] Combine all data for post `firefox`...</div>
<div class='progress-msg'>[01:23:14] Find corresponding article among previously imported for post `firefox`...</div>
<div class='progress-msg'>[01:23:14] Duplicate post wasn't found with unique key `1351175094`...</div>
<div class='progress-msg'>[01:23:14] Applying filter `pmxi_article_data` for `firefox`</div>
<div class='progress-msg'>[01:23:14] <b>CREATING</b> `firefox` `Запись`</div>
<div class='progress-msg'>[01:23:14] Associate post `firefox` with current import ...</div>
<div class='progress-msg'>[01:23:14] Associate post `firefox` with post format standard ...</div>
<div class='progress-msg'>[01:23:14] <b>IMAGES:</b></div>
<div class='progress-msg'>[01:23:14] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[01:23:14] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[01:23:14] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[01:23:14] <b>CREATED</b> `firefox` `Запись` (ID: 7)</div>
<div class='progress-msg'>[01:23:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[01:23:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[01:23:14] Cleaning temporary data...</div>
